
__pycache__/

WIP/

Dependencies.txt

Function List.txt

Function Tracker.xlsx

Licensing Statement.txt

TestToken.txt

To Do List.xlsx

~$Function Tracker.xlsx

~$To Do List.xlsx

Other/

Originals/

EntropyHubJl/

EntropyHubPy/

EntropyHubMat/

docs/*

!docs/_build