code.literal {
    color: #fae903 !important;
    background-color: #073642 !important;
}

.wy-side-nav-search, .wy-nav-top, .wy-nav-side {
    background: hsl(188, 72%, 8%);
}

.wy-nav-content {
    max-width: 80%;
    }

